.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.2rem;
  text-align: left;
  line-height: 0;
  cursor: pointer;
}

.h1 {
  text-align: left;
}
