.home {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.show-category {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.icon {
  height: 1.5rem;
  border-radius: 0px 0px 0px 10px;
  cursor: pointer;
}
