.App {
  text-align: center;
}
body {
  color: #252525;
  background-color: whitesmoke;
}

.sideBar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0rem 2rem 4rem 1rem;
  width: 12rem;
}

.navLink {
  text-decoration: none;
  color: #252525;
}
