.App {
  text-align: center;
}
body {
  background-color: #252525;
  color: whitesmoke;
}

.div {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sideBar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  grid-area: side-bar;
  position: sticky;
  height: fit-content;
  top: 0;
}

.navLink {
  text-decoration: none;
  color: whitesmoke;
  width: max-content;
}

.category-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}

.category-A {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.category-Icon {
  margin-left: -2.6rem;
  height: 2rem;
  cursor: pointer;
  color: cornflowerblue;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 0px 5px 0px 15px;
}
