.App {
  text-align: center;
}
body {
  color: #252525;
  background-color: whitesmoke;
}

.sideBar {
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 15rem;
  margin-left: 3rem;
  margin: 3rem 0rem 0rem 1rem;
}

.navLink {
  text-decoration: none;
  color: #252525;
}
